/* home */
.home {
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
/* hero */
.home-hero {
    display: flex;
    gap: 8vw;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    /* outline: 1px red solid; */
}
/* hero tagline */
.home-hero-details {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
/* hero image */
.home-hero-img img {
    object-fit: cover;
    max-height: 20rem;
    border-radius: var(--img-radius);
}
@media (max-width: 900px) {
    .home-hero {
        gap: 8vh;
    }
}
@media (max-width: 500px) {
    .home-hero-img img {
        width: 100%;
    }
}
