/* top element */
.navBar {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1.4rem;
    padding: 0.8em 1.4rem;
}
/* nav logo img */
.navBar-logo a {
    display: block;
    height: 100%;
}
.navBar-logo img {
    height: 1.5rem;
    object-fit: cover;
}

/* removing default styles */
.navBar ul,
.navBar li {
    list-style: none;
    text-decoration: none; /* remove the a tag underline */
    margin: 0;
}
.nav-hover:hover {
    border-radius: 8px;
    background-color: var(--hover-bg);
}
/*  */
/* nav first level CATEGORIES ----------------- */
.category-list {
    display: flex;
    padding: 0;
}
.category-list-item {
    position: relative; /* for drop down menu */
}
.category-list-item a {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 32px;
    white-space: nowrap;

    border-radius: 8px;
    padding: 0 8px;

    font: var(--font-nav-category);
    color: var(--text-color);
    text-decoration: none; /* remove the a tag underline */
}
.category-list-item-active {
}

.category-list-item-icon {
    height: 1em;
    margin-top: 4px;
    font-size: 0.8em;
    rotate: 0deg;
}
.category-list-item:hover .category-list-item-icon {
    rotate: -180deg;
}
/* nav second level  CALCULATORS ---------------------- */
.calculator-list {
    display: none;
    position: absolute;
    padding: 4px;
    border-radius: 12px;

    background-color: var(--color-bg);
    box-shadow: var(--floating-shadow);
}
.category-list li:hover .calculator-list {
    display: block;
    top: 32px;
    left: -4px;
}
.calculator-list-item {
    /* display: flex; */
    align-items: center;
    white-space: nowrap;

    background-color: transparent;
    border-radius: 8px;

    text-decoration: none; /* remove the a tag underline */
    color: var(--text-color);
}
/* effects */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* mobile / smaller screen ---------------------- */
.navBar-mobile-button {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--hover-bg);

    display: none;
    justify-items: center;
    align-items: center;
}

@media (max-width: 500px) {
    .navBar {
        justify-content: space-between;
    }
    .navBar-mobile-button {
        display: flex;
    }
    .navBar-menu {
        display: none;
    }
    /* Mobile menu */
    .mobile-menu {
        z-index: 10;
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 94%;
        height: 100svh;
        padding: 0 3%;

        background-color: white;
    }
    .mobile-menu .nav-hover {
        border-radius: 0;
        background-color: transparent;
    }
    /* CATEGORY */
    .mobile-menu .category-list {
        flex-direction: column;
    }
    .mobile-menu .category-list-item {
        border-top: 1px solid lightgrey;
    }
    .mobile-menu .category-list-item:last-child {
        border-bottom: 1px solid lightgrey;
    }
    .mobile-menu .category-list-item a {
        height: 64px;
        border-radius: 0;
        font-weight: 700;
        justify-content: space-between;
    }

    .navBar .category-list .category-list-item-icon {
        rotate: -90deg;
    }
    .navBar .category-list .category-list-open .category-list-item-icon {
        rotate: 0deg;
    }

    /* for mobile behaviour */
    .category-list li:hover .calculator-list {
        display: none;
    }
    .navBar .mobile-menu .category-list-open .calculator-list {
        /* onclick with more specific selector  */
        display: block;
    }

    /* CALCULATOR */
    .mobile-menu .calculator-list {
        position: static;
        padding: 0px 0px 0px 0px;
        border-radius: 0px;
        box-shadow: none;
    }
    .mobile-menu .calculator-list-item a {
        height: 56px;
        padding-left: 40px;
        font-weight: 500;
        border-radius: 0px;
    }
}
