/*  */
.calculator-page {
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculator-container {
    display: grid;
    grid-template:
        'heading UI'
        'description UI'
        'description UI';
    column-gap: 4vw;
}

.calculator-title {
    grid-area: heading;
    display: flex;
    gap: 1.4vw;
    height: fit-content;
    /* border: 1px solid black; */
}
.calculator-title-img {
    height: 3.6rem;
    flex-shrink: 1;
}
.calculator-title-img img {
    height: 100%;
}
.calculator-title-text {
}
.calculator-description {
    grid-area: description;
    max-width: 600px;
}
.calculator-UI {
    grid-area: UI;
    max-width: 350px;
    flex-grow: 1;
}

.calculator-description p {
    line-break: loose;
    text-align: justify;
}

/*  */

@media (max-width: 500px) {
    .calculator {
        padding-top: 4vh;
    }
    .calculator-container {
        gap: 4vh;
    }
    .calculator-container {
        grid-template:
            'heading '
            'UI'
            'description ';
    }
    .calculator-details {
        max-width: 100%;
    }
    .calculator-UI {
        min-width: 100%;
    }
}
@media (max-width: 500px) {
    /*  */
}
